<p-card>
  <div class="d-flex justify-content-between align-items-center">
    <h2>{{ title }}</h2>
    <button
      pButton
      pRipple
      type="button"
      [routerLink]="['/etablissement/bourses']"
      icon="pi pi-times"
      class="p-button-rounded p-button-secondary p-button-text"
    ></button>
  </div>

  <form [formGroup]="bourseForm" (ngSubmit)="onSubmit()">
    <div class="grid">
        <div class="field col-12 md:col-6">
          <label for="annee">Année</label>
          <p-inputNumber
            inputId="annee"
            class="form-control"
            formControlName="annee"
          ></p-inputNumber>
        </div>
        <div class="field col-12 md:col-6">
          <label for="pourcentage">Pourcentage</label>
          <p-inputNumber
            inputId="pourcentage"
            class="form-control"
            formControlName="pourcentage"
          ></p-inputNumber>
        </div>
      <div class="field col-12">
        <button [disabled]="bourseForm.invalid" pButton type="submit" class="p-button p-button-lg">{{ isEdit ? 'Modifier' : 'Enregistrer' }}</button>
    </div>
    </div>
  </form>
</p-card>
