<form class="h-100 overflow-y-auto fadeinup animation-duration-500 bg-white rounded" (submit)="create()">
    <p-card class="rounded">
        <ng-template pTemplate="title">
            <h2 class="text-center" style="font-size: 1.5em">Nouveau</h2>
        </ng-template>
        <div class="field mb-5 px-5">
            <span class="p-float-label p-input-filled">
                <input [autocomplete]="true" [(ngModel)]="etablissement.nom" name="nomEtablissement"
                    placeholder="Nom de l'etablissement"
                    class="form-control {{submitted && !etablissement.nom ? 'ng-invalid ng-dirty' : ''}}"
                    type="text" pInputText>
                <label for="inputtext"><i class="pi pi-building"></i> &nbsp;Nom de l'etablissement</label>
            </span>
            <small *ngIf="submitted && !etablissement.nom" id="username-help" class="p-error">Le nom de
                l'etablissement
                est
                requis.</small>
        </div>
        <div class="field my-5 px-5">
            <span class="p-float-label p-input-filled">
                <input [autocomplete]="true" [(ngModel)]="etablissement.email" name="emailEtablissement"
                    placeholder="Adresse electronique"
                    class="form-control {{submitted && !etablissement.email ? 'ng-invalid ng-dirty' : ''}}"
                    type="email" pInputText>
                <label for="inputtext"><i class="pi pi-at"></i> &nbsp;Email de l'etablissement</label>
            </span>
            <small *ngIf="submitted && !etablissement.email" id="username-help" class="p-error">Une adresse
                email valide est requise.</small>
        </div>
        <div class="field my-5 px-5">
            <span class="p-float-label p-input-filled">
                <input [autocomplete]="true" [(ngModel)]="etablissement.telephone" name="numeroEtablissement"
                    placeholder="Numéro de téléphone"
                    class="form-control {{submitted && !etablissement.telephone ? 'ng-invalid ng-dirty' : ''}}"
                    type="tel" pInputText>
                <label for="inputtext"><i class="pi pi-phone"></i> &nbsp;Téléphone de l'etablissement</label>
            </span>
            <small *ngIf="submitted && !etablissement.telephone" id="username-help" class="p-error">Un
                numéro
                de téléphone est requis.</small>
        </div>
        <div class="field px-5" *ngIf="!loginPage">
            <p-fileUpload #img [chooseIcon]="'pi pi-image'" [cancelIcon]="''" [accept]="'image/*'"
                (onRemove)="logo = undefined" chooseLabel="Image" cancelLabel="Annuler" (onSelect)="getImg($event)"
                [showUploadButton]="false" name="image" [multiple]="false"></p-fileUpload>
        </div>
        <div class="field px-5">
            <p-accordion>
                <p-accordionTab>
                    <ng-template pTemplate="header">
                        <h3>Directeur</h3>
                    </ng-template>
                    <div class="field mb-5 px-5">
                        <span class="p-float-label p-input-filled">
                            <input [(ngModel)]="etablissement.directeur!.nom" name="nom" [autocomplete]="true"
                                placeholder="Nom du directeur"
                                class="form-control {{submitted && !etablissement.directeur?.nom ? 'ng-invalid ng-dirty' : ''}}"
                                type="text" pInputText>
                            <label for="inputtext"><i class="pi pi-user"></i> &nbsp;Nom du directeur</label>
                        </span>
                        <small *ngIf="submitted && !etablissement.directeur?.nom" id="username-help" class="p-error">Le nom de
                            l'directeur
                            est
                            requis.</small>
                    </div>
                    <div class="field my-5 px-5">
                        <span class="p-float-label p-input-filled">
                            <input [(ngModel)]="etablissement.directeur!.prenom" name="prenom" [autocomplete]="true"
                                placeholder="Prénom du directeur"
                                class="form-control {{submitted && !etablissement.directeur?.prenom ? 'ng-invalid ng-dirty' : ''}}"
                                type="text" pInputText>
                            <label for="inputtext"><i class="pi pi-user"></i> &nbsp;Prénom du directeur</label>
                        </span>
                        <small *ngIf="submitted && !etablissement.directeur?.prenom" id="username-help" class="p-error">Le
                            prénom du directeur
                            est
                            requis.</small>
                    </div>
                    <div class="field my-5 px-5">
                        <span class="p-float-label p-input-filled">
                            <input [(ngModel)]="etablissement.directeur!.email" name="email" [autocomplete]="true"
                                placeholder="Email du directeur"
                                class="form-control {{submitted && !etablissement.directeur?.email ? 'ng-invalid ng-dirty' : ''}}"
                                type="email" pInputText>
                            <label for="inputtext"><i class="pi pi-at"></i> &nbsp;Email du directeur</label>
                        </span>
                        <small *ngIf="submitted && !etablissement.directeur?.email" id="username-help" class="p-error">L'email
                            du directeur
                            est
                            requis.</small>
                    </div>
                    <div class="field my-5 px-5">
                        <span class="p-float-label p-input-filled">
                            <input [(ngModel)]="etablissement.directeur!.telephone" name="telephone" [autocomplete]="true"
                                placeholder="Téléphone du directeur"
                                class="form-control {{submitted && !etablissement.directeur?.telephone ? 'ng-invalid ng-dirty' : ''}}"
                                type="tel" pInputText>
                            <label for="inputtext"><i class="pi pi-phone"></i> &nbsp;Téléphone du directeur</label>
                        </span>
                        <small *ngIf="submitted && !etablissement.directeur?.telephone" id="username-help" class="p-error">Le
                            téléphone du directeur
                            est
                            requis.</small>
                    </div>
                    <div class="field my-5 px-5">
                        <div class="row">
                            <div class="col-md-6">
                                <p-radioButton name="sexe" inputId="male" value="M"
                                    [(ngModel)]="etablissement.directeur!.sexe"></p-radioButton>
                                <label for="male">&nbsp;Homme</label>
                            </div>
                            <div class="col-md-6">
                                <p-radioButton inputId="female" name="sexe" value="F"
                                    [(ngModel)]="etablissement.directeur!.sexe"></p-radioButton>
                                <label for="female">&nbsp;Femme</label>
                            </div>
                        </div>
                    </div>
                </p-accordionTab>
            </p-accordion>
        </div>
        <ng-template pTemplate="footer">
            <div class="field mx-5">
                <div class="d-flex">
                    <button icon="pi pi-plus" iconPos="right" pButton class="p-button p-button-lg flex-grow-1 button" label="Créer"></button>
                </div>
            </div>
        </ng-template>
    </p-card>
</form>