$primary: #16528c
$secondary: #7c9fcc

:host ::ng-deep 
    .p-steps-number, .p-steps-title
        font-family: 'Fredoka One'
    .p-steps-number
        background: $secondary !important
    .p-highlight .p-steps-number
        background: $primary !important
    .p-steps-title
        color: grey !important
    .p-dialog-header
        padding-bottom: 0 !important
        padding-top: .5em