<p-card>
    <ng-template pTemplate="header">
        <div class="px-3">
            <p-steps [(activeIndex)]="activeIndex" [model]="item"></p-steps>
        </div>
    </ng-template>
    <ng-template pTemplate="content">
        <div class="container-fluid">
            <div class="row justify-content-between">
                <app-filieres (_filieres)="getFilieres($event)" (status)="activeIndex = 1" *ngIf="activeIndex === 0 else _classes"></app-filieres>
                <ng-template #_classes>
                    <ng-container *ngIf="activeIndex === 1 else boom">
                        <div class="col-xl-8 px-5 h-100 overflow-y-auto">
                            <div class="surface-50 row m-0">
                                <ng-container *ngIf="classes.length else empty">
                                    <div class="col-lg-4 p-3" *ngFor="let class of classes">
                                        <p-card class="cursor-pointer"
                                            (click)="selected = class; activeIndex = activeIndex+1">
                                            <ng-template pTemplate="title"><h3>{{class.label}}</h3></ng-template>
                                            <ng-template pTemplate="footer">{{class.annee}}</ng-template>
                                        </p-card>
                                    </div>
                                </ng-container>
                                <ng-template #empty>
                                    <img height="500px" src="assets/imgs/cactus.jpg" alt="">
                                    <h3 class="text-center">Pas de niveau séléctionné ou pas de classes disponible pour ce niveau</h3>
                                </ng-template>
                            </div>
                        </div>
                        <div class="col-xl-4 px-5">
                            <app-new-classe [filieres]="filieres" [cycles]="cycles"></app-new-classe>
                        </div>
                    </ng-container>
                </ng-template>
                <ng-template #boom>
                    <app-apprenants [classe]="selected"></app-apprenants>
                </ng-template>
            </div>
            <div class="container-fluid d-flex">
                <!-- <button icon="pi pi-chevron-right" iconPos="right" *ngIf="activeIndex<2" (click)="activeIndex = activeIndex+1"
                    class="ms-auto" pButton label="Suivant"></button> -->
            </div>
        </div>
    </ng-template>
    <ng-template pTemplate="footer">
        <div class="container-fluid d-flex p-3">
            <button *ngIf="activeIndex > 0" icon="pi pi-chevron-left" (click)="activeIndex = activeIndex-1"
                class="me-auto" pButton label="Retour"></button>
                <ng-container *ngIf="activeIndex === 2">
                    <button label="Unités d'enseignements" iconPos="right" pButton icon="pi pi-book" (click)="getUes(); visible=true;" class="p-button-outlined ms-auto p-button-success"></button>
                    <button label="Emplois du temps" iconPos="right" pButton icon="pi pi-map" (click)="display=true" class="p-button-outlined ms-3"></button>
                </ng-container>
        </div>
    </ng-template>
</p-card>
<p-dialog [(visible)]="display" [modal]="true" [style]="{'height': '100%', 'width': '100%'}">
    <app-cours *ngIf="display" [classe]="selected"></app-cours>
</p-dialog>
<p-dialog [(visible)]="visible" [modal]="true" [style]="{'height': '100%', 'width': '100%'}">
    <ng-template pTemplate="header">
        <h1 class="text-center p-3 titre mb-0">Unités d'enseignement</h1>
    </ng-template>
    <app-ues *ngIf="ues" [ues]="ues" [classeId]="selected._id"></app-ues>
</p-dialog>