<div class="grid">
  <div class="col-12">
    <ng-container *ngIf="visiblePaymentForm">
      <div class="col-12">
        <div class="p-inputgroup">
          <p-inputNumber
            class="form-control"
            placeholder="Montant"
            [(ngModel)]="montant"
          ></p-inputNumber>
          <button type="button" (click)="addPayment()" pButton pRipple label="Ajouter"></button>
          <button type="button" (click)="visiblePaymentForm = false" pButton pRipple class="p-button-danger" label="Annuler"></button>
        </div>
      </div>
    </ng-container>

    <button
      *ngIf="!visiblePaymentForm"
      (click)="onAddNewPayment()"
      class="ml-2"
      pButton
    >
      Ajouter
    </button>
  </div>
  <div class="col-12 d-flex justify-content-between align-items-center">
    <h4>Redevance ponctuelle :</h4>
    <b>{{ redevance$ | async }} FCFA</b>
  </div>
  <div class="col-12">
    <p-table [value]="payements">
      <ng-template pTemplate="header">
        <tr>
          <th>Montant</th>
          <th>Date</th>
          <th>Action</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-payement>
        <tr>
          <td>{{ payement.montant }}</td>
          <td>{{ payement.date | date: "dd/MM/yyyy" }}</td>
          <td>
            <button
              pButton
              pRipple
              icon="pi pi-print"
              class="p-button-rounded p-button-info p-button-text"
              (click)="showFacture(payement)"
            ></button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>

<p-dialog (onHide)="closeDialog()" [(visible)]="displayFacture && payementSelected" [style]="{width: '100%'}">

  <div class="grid" id="facture">
    <div class="col-12 d-flex flex-column align-items-start">
      <h4>Ecole Saint Pierre</h4>
      <span>Keur Ndiaye Lo</span>
      <span>33 876 76 76</span>
      <span>ecole@gmail.com</span>
    </div>
    <div class="col-12 d-flex flex-column align-items-end">
      <h5>{{apprenant.prenom | titlecase}} {{apprenant.nom | uppercase}}</h5>
      <span>Second S2 B</span>
    </div>
    <div class="col-12 d-flex p-2 align-items-center justify-content-between">
      <span>Facture N° {{payementSelected?._id}}</span>
      <span>le 01 Janvier 2021</span>
    </div>
    <div class="col-12 grid">
      <div class="col-6 border p-2 d-flex flex-column">
          <div><span>'</span></div>
          <span>Frais mensuel</span>
          <span>Service 1</span>
          <span>Service 2</span>
          <span>Total</span>
      </div>
      <div class="col-6 border p-2 d-flex flex-column align-items-end">
        <span>Montant</span>
        <span>10000 FCFA</span>
        <span>1000 FCFA</span>
        <span>1000 FCFA</span>
        <span>{{ payementSelected?.montant }} FCFA</span>
      </div>
    </div>
  </div>

  <ng-template pTemplate="footer">
      <p-button icon="pi pi-print" [print]="['facture']" label="Génére facture" styleClass="p-button-text"></p-button>
  </ng-template>
</p-dialog>
