<p-table [paginator]="true" [rows]="7" [loading]="!role" loadingIcon="" [autoLayout]="true" [value]="permissions" styleClass="p-datatable-striped">
    <ng-template pTemplate="header">
        <tr>
            <th>Module</th>
            <th>Lecture</th>
            <th>Création</th>
            <th>Modification</th>
            <th>Suppression</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-permission let-i="rowIndex">
        <tr>
            <td class="text-blue-800">{{permission.label | titlecase}}</td>
            <td><p-inputSwitch [(ngModel)]="_permissions[i]?.privileges['read-'+permission.label.toLowerCase()]" (onChange)="togglePermission($event, permission)" [trueValue]="'read-'+permission.label.toLowerCase()" [falseValue]="'read'"></p-inputSwitch></td>
            <td><p-inputSwitch [(ngModel)]="_permissions[i]?.privileges['create-'+permission.label.toLowerCase()]" (onChange)="togglePermission($event, permission)" [trueValue]="'create-'+permission.label.toLowerCase()" [falseValue]="'create'"></p-inputSwitch></td>
            <td><p-inputSwitch [(ngModel)]="_permissions[i]?.privileges['update-'+permission.label.toLowerCase()]" (onChange)="togglePermission($event, permission)" [trueValue]="'update-'+permission.label.toLowerCase()" [falseValue]="'update'"></p-inputSwitch></td>
            <td><p-inputSwitch [(ngModel)]="_permissions[i]?.privileges['delete-'+permission.label.toLowerCase()]" (onChange)="togglePermission($event, permission)" [trueValue]="'delete-'+permission.label.toLowerCase()" [falseValue]="'delete'"></p-inputSwitch></td>
        </tr>
    </ng-template>
</p-table>