<div class="d-flex justify-content-between surface-100">
    <div class="my-auto">
        <nav class="flex-grow-1" mat-tab-nav-bar [tabPanel]="tabPanel">
            <a [active]="active === link.id" class="text-black" (click)="active = link.id" mat-tab-link
                *ngFor="let link of items"> {{link.label}} </a>
        </nav>
    </div>
    <div>
        <p-speedDial [transitionDelay]="80" buttonClassName="p-button-outlined" [model]="btnItems" direction="down"></p-speedDial>
    </div>
</div>
<mat-tab-nav-panel #tabPanel>
    <div class="surface-100 mt-3 rounded p-5 row justify-content-center">
        <div class="col-3" *ngFor="let filiere of filieres">
            <p-card class="cursor-pointer" (click)="_filiere.emit(filiere._id)">
                <h3>{{filiere.label}}</h3>
            </p-card>
        </div>
    </div>
</mat-tab-nav-panel>

<p-dialog position="right" [modal]="true" [(visible)]="display">
    <ng-template pTemplate="header">
        <h2 class="p-3">Nouvelle {{ue ? 'UE' : 'filière'}}</h2>
    </ng-template>
    <app-new-filiere *ngIf="!ue else UE" (status)="display = false"></app-new-filiere>
    <ng-template #UE>
        <app-new-ue [filieres]="filieres"></app-new-ue>
    </ng-template>
</p-dialog>