<div class="container-fluid">
    <h1 class="text-center titre p-3">Administration des rôles</h1>
    <div class="row p-3">
        <div class="col-4">
            <p-table selectionMode="single" [(selection)]="selected" [autoLayout]="true" styleClass="p-datatable-striped" [value]="roles" class="card border-0 p-3">
                <ng-template pTemplate="header" let-yourColumnArrayVaraible>
                    <tr>
                        <th>#</th>
                        <th>Libellé</th>
                        <th>Statut</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-role let-i="rowIndex">
                    <tr [pSelectableRow]="role">
                        <td>{{i+1 | number}}</td>
                        <td class="text-green-500">{{role.label}}</td>
                        <td></td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
        <div class="col-8">
            <div class="card p-3 border-0">
                <app-permissions [role]="selected"></app-permissions>
            </div>
        </div>
    </div>
</div>