<div class="row p-4">
  <div class="col-sm-4 p-2">
    <p-card>
      <h5>{{ apprenant.prenom + " " + apprenant.nom }}</h5>
      <i class="pi pi-phone"></i> : {{ apprenant.telephone | phone }}
      <hr />
      <i class="pi pi-at"></i> : {{ apprenant.email }}<br />
    </p-card>
  </div>
  <div class="col-sm-8 row">
    <div class="col-12 p-2">
      <p-card>
        <ng-template pTemplate="title">Services</ng-template>
        <div class="d-flex flex-wrap align-items-center">
          <ng-container *ngFor="let s of services$ | async">
            <p-chip class="mr-2" [label]="s.label | titlecase" [removable]="true" (onRemove)="removeService(s._id)"></p-chip>
          </ng-container>
          <ng-container *ngIf="visibleService">
            <div class="field col-12">
              <p-dropdown
                [options]="allServices"
                (onChange)="addService($event.value)"
                class="form-control"
                placeholder="Choix de le service"
                [(ngModel)]="idService"
                [optionValue]="'_id'"
                [optionLabel]="'label'"
              ></p-dropdown>
            </div>
          </ng-container>

          <button (click)="onAddNewService()" class="ml-2" pButton>Ajouter</button>
        </div>
      </p-card>
    </div>
    <div class="col-12 p-2">
      <p-card>
        <ng-template pTemplate="title">Bourses</ng-template>
        <div class="d-flex flex-wrap align-items-center">
          <!-- <ng-container *ngFor="let b of bourses$ | async">
            <p-chip class="mr-2" [label]="s.label | titlecase" [removable]="true" (onRemove)="removeService(s._id)"></p-chip>
          </ng-container> -->
          <ng-container *ngIf="visibleBourse">
            <div class="field col-12">
              <p-dropdown
                [options]="allBourses"
                (onChange)="addBourse($event.value)"
                class="form-control"
                placeholder="Choisir une bourse"
                [(ngModel)]="idBourse"
                [optionValue]="'_id'"
              >

            <ng-template pTemplate="item" let-bourse>{{ bourse.annee + ' ' + bourse.pourcentage + '%' }}</ng-template>
            </p-dropdown>
            </div>
          </ng-container>

          <button (click)="onAddBourse()" class="ml-2" pButton>Ajouter</button>
        </div>
      </p-card>
    </div>
  </div>
</div>
