<p-table [value]="cours">
    <ng-template pTemplate="header" let-yourColumnArrayVaraible>
        <tr>
            <th>Classe</th>
            <th>Matière</th>
            <th class="text-right">Durée</th>
            <th class="text-right">Date</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-_cours>
        <tr>
            <td class="text-green-500">{{_cours.classe.label | titlecase}}</td>
            <td>{{_cours.matiere.label | titlecase}}</td>
            <td class="text-right text-info">{{_cours.duree | number}}</td>
            <td class="text-right text-cyan-800">{{_cours.date | date:'dd/MM/yyyy à hh:mm'}}</td>
        </tr>
    </ng-template>
</p-table>