<form (submit)="create()">
    <div class="field my-4">
        <span class="p-float-label">
            <input name="label" [(ngModel)]="ue.label" placeholder="Libellé"
                class="form-control {{submitted && !ue.label ? 'ng-invalid ng-dirty' : ''}}" type="text" pInputText>
            <label for="inputtext"><span class="material-icons-outlined">school</span> &nbsp;&nbsp;Libellé</label>
        </span>
        <small *ngIf="submitted && !ue.label" id="username-help" class="p-error">Le libellé de l'UE est
            requis.</small>
    </div>
    <div class="field my-4">
        <span class="p-float-label">
            <p-inputNumber [min]="0" name="label" [(ngModel)]="ue.credit" placeholder="Nombre de crédit"
                class="form-control {{submitted && !ue.credit ? 'ng-invalid ng-dirty' : ''}}"></p-inputNumber>
            <label for="inputtext"><i class="pi pi-hashtag"></i> &nbsp;&nbsp;Crédits</label>
        </span>
        <small *ngIf="submitted && !ue.credit" id="username-help" class="p-error">Le nombre de crédit est
            requis.</small>
    </div>
    <div class="field my-4">
        <div class="d-flex">
            <button pButton label="CRÉER" icon="pi pi-plus" type="submit" class="p-button p-button-lg flex-grow-1"></button>
        </div>
    </div>
</form>
<p-toast></p-toast>