<form (submit)="create()">
    <div class="field my-4">
        <span class="p-float-label">
            <input name="label" [(ngModel)]="ue.label" placeholder="Libellé"
                class="form-control {{submitted && !ue.label ? 'ng-invalid ng-dirty' : ''}}" type="text" pInputText>
            <label for="inputtext"><span class="material-icons-outlined">school</span> &nbsp;&nbsp;Libellé</label>
        </span>
        <small *ngIf="submitted && !ue.label" id="username-help" class="p-error">Le libellé de l'UE est
            requis.</small>
    </div>
    <div class="field my-4">
        <span class="p-float-label">
            <p-inputNumber [min]="0" name="label" [(ngModel)]="ue.totalCredit" placeholder="Nombre de crédit"
                class="form-control {{submitted && !ue.totalCredit ? 'ng-invalid ng-dirty' : ''}}"></p-inputNumber>
            <label for="inputtext"><i class="pi pi-hashtag"></i> &nbsp;&nbsp;Crédits</label>
        </span>
        <small *ngIf="submitted && !ue.totalCredit" id="username-help" class="p-error">Le nombre de crédit est
            requis.</small>
    </div>
    <div class="field my-4">
        <span class="p-float-label">
            <p-dropdown #filiereField [(ngModel)]="ue.filiere" [options]="filieres" optionLabel="label" optionValue="_id" name="username" placeholder="Nom d'utilisateur"
                class="form-control"></p-dropdown>
            <label for="inputtext"><i class="pi pi-hashtag"></i> &nbsp;&nbsp;Filière</label>
        </span>
    </div>
    <div class="field my-4">
        <span class="p-float-label p-input-filled">
            <p-multiSelect appendTo="body" [disabled]="!periodes" name="periodes" optionValue="_id" [options]="periodes" [(ngModel)]="ue.periodes" [showClear]="true" display="chip" optionLabel="label"></p-multiSelect>
            <label for="inputtext">Classes</label>
        </span>
    </div>
    <div class="field my-4">
        <div class="d-flex">
            <button pButton label="CRÉER" icon="pi pi-plus" type="submit" class="p-button p-button-lg flex-grow-1"></button>
        </div>
    </div>
</form>
<p-toast></p-toast>