<div class="h-100">
    <h1 class="text-center py-3 titre">Notes d'informations</h1>
    <div class="row px-5">
        <div class="col-lg-9 d-flex align-items-baseline justify-content-center flex-wrap px-3 py-4 bg-white rounded-4">
            <div class="col-md-3 px-1 pb-2">
                <p-card class="infos"></p-card>
            </div>
            <div class="col-md-3 px-1 pb-2">
                <p-card></p-card>
            </div>
            <div class="col-md-3 px-1 pb-2">
                <p-card></p-card>
            </div>
            <div class="col-md-3 px-1 pb-2">
                <p-card></p-card>
            </div>
            <div class="col-md-3 px-1 pb-2">
                <p-card></p-card>
            </div>
        </div>
        <div class="col-lg-3">
            <form (submit)="create()">
                <p-card>
                    <ng-template pTemplate="header">
                        <h3 class="text-center p-3">Nouvelle annonce</h3>
                    </ng-template>
                    <div class="field">
                        <span class="p-float-label">
                            <input name="titre" [(ngModel)]="info!.titre" pInputText class="form-control">
                            <label for="">Titre</label>
                        </span>
                    </div>
                    <div class="field">
                        <span class="p-float-label">
                            <textarea name="description" [(ngModel)]="info!.description" [autoResize]="true" pInputTextarea class="form-control p-inputtextarea p-inputtextarea-resizable"></textarea>
                            <label for="">Description</label>
                        </span>
                    </div>
                    <div class="field">
                        <span class="p-float-label">
                            <p-dropdown name="cycle" class="form-control" [(ngModel)]="cycle" [options]="cycles" placeholder="Cycle" optionLabel="label"></p-dropdown>
                            <label for="">Cycle</label>
                        </span>
                    </div>
                    <div class="field">
                        <span class="p-float-label">
                            <p-dropdown class="form-control" (onChange)="niveauSrv.niveau.next($event.value._id); getFilieres($event.value)" [options]="cycle?.niveaux" placeholder="Niveau" optionLabel="label"></p-dropdown>
                            <label for="">Niveau</label>
                        </span>
                    </div>
                    <div class="field">
                        <span class="p-float-label">
                            <p-dropdown (onChange)="getApprenants($event.value)" optionValue="_id" name="classe" class="form-control" [options]="classes" placeholder="Classe" optionLabel="label"></p-dropdown>
                            <label for="">Classe</label>
                        </span>
                    </div>
                    <div class="field">
                        <span class="p-float-label">
                            <p-dropdown optionValue="_id" name="apprenant" [(ngModel)]="info!.apprenant" class="form-control" [options]="apprenants" placeholder="Apprenant" optionLabel="nom"></p-dropdown>
                            <label for="">Apprenant</label>
                        </span>
                    </div>
                    <ng-template pTemplate="footer">
                        <div class="d-flex">
                            <button pButton label="Ajouter" icon="pi pi-plus" class="flex-grow-1" iconPos="right"></button>
                        </div>
                    </ng-template>
                </p-card>
            </form>
        </div>
    </div>
</div>