<p-card>
  <div class="d-flex justify-content-between align-items-center">
    <h2>{{ title }}</h2>
    <button
      pButton
      pRipple
      type="button"
      [routerLink]="['/etablissement/redevances']"
      icon="pi pi-times"
      class="p-button-rounded p-button-secondary p-button-text"
    ></button>
  </div>

  <form [formGroup]="redevanceForm" (ngSubmit)="onSubmit()">
    <div class="grid">
      <ng-container formGroupName="redevance">
        <div class="field col-12 md:col-6">
          <label for="montant">Montant</label>
          <p-inputNumber
            inputId="montant"
            class="form-control"
            formControlName="montant"
          ></p-inputNumber>
        </div>
        <div class="field col-12 md:col-6">
          <label for="montantInscription">Montant inscription</label>
          <p-inputNumber
            inputId="montantInscription"
            class="form-control"
            formControlName="montantInscription"
          ></p-inputNumber>
        </div>
        <div class="field col-12 md:col-6">
          <label for="nbMois">Nombre de mois</label>
          <p-inputNumber
            inputId="nbMois"
            class="form-control"
            formControlName="nbMois"
          ></p-inputNumber>
        </div>
        <div class="field col-12 md:col-6">
          <label for="debutMois">Début mois</label>
          <p-inputNumber
            inputId="debutMois"
            class="form-control"
            formControlName="debutMois"
          ></p-inputNumber>
        </div>
      </ng-container>
      <div class="field col-12">
        <label>Cycle</label>
        <p-dropdown
          #_cycle
          (onChange)="getNiveaux($event)"
          [options]="cycles"
          formControlName="cycle"
          optionLabel="label"
          optionValue="_id"
          placeholder="Choix du cycle"
          class="form-control"
        ></p-dropdown>
      </div>
      <div class="field col-12 md:col-6">
        <label>Niveaux</label>
        <p-multiSelect
          [selectionLimit]="1"
          display="chip"
          [showHeader]="false"
          [disabled]="!_cycle.value"
          name="niveaux"
          formControlName="niveaux"
          (onChange)="getFilieres($event)"
          [options]="niveaux"
          optionLabel="label"
          optionValue="_id"
          placeholder="Choix des niveaux"
          class="form-control"
        ></p-multiSelect>
      </div>
      <div class="field col-12 md:col-6">
        <label>Filière</label>
        <p-multiSelect
          [selectionLimit]="1"
          [showHeader]="false"
          [options]="filieres"
          class="form-control"
          placeholder="Choix de la filière"
          formControlName="filieres"
          [optionValue]="'_id'"
          [optionLabel]="'label'"
        ></p-multiSelect>
      </div>
      <div class="field col-12">
        <!-- icon="pi pi-plus" -->
        <button [disabled]="redevanceForm.invalid" pButton type="submit" class="p-button p-button-lg">{{ isEdit ? 'Modifier' : 'Enregistrer' }}</button>
    </div>
    </div>
  </form>
</p-card>
