<div class="fadeoutdown surface-100 p-3 overflow-y-auto h-100">
    <div class="d-flex pb-2 justify-content-center">
        <h2 class="mx-auto">Nouveau</h2>
        <label for="excel" class="btn p-button-text p-button-danger">
            <i class="pi pi-file-excel text-success"></i>
        </label>
        <input (change)="upload($event)" type="file" [hidden]="true" id="excel">
    </div>

    <form [formGroup]="apprenantForm" (submit)="create()">
        <div class="field m-4">
            <span class="p-float-label">
                <input [autocomplete]="true" formControlName="prenom" placeholder="Prénom" class="form-control {{submitted && controls['prenom'].invalid ? 'ng-invalid ng-dirty' : ''}}" type="text" pInputText> 
                <label for="inputtext"><i class="pi pi-user"></i>&nbsp;Prénom</label>
            </span>
            <small *ngIf="submitted && controls['prenom'].invalid" id="username-help" class="p-error">Un prénom est requis.</small>
        </div>
        <div class="field m-4">
            <span class="p-float-label">
                <input [autocomplete]="true" formControlName="nom" placeholder="Nom" class="form-control {{submitted && controls['nom'].invalid ? 'ng-invalid ng-dirty' : ''}}" type="text" pInputText> 
                <label for="inputtext"><i class="pi pi-user"></i>&nbsp;Nom</label>
            </span>
            <small *ngIf="submitted && controls['nom'].invalid" id="username-help" class="p-error">Un nom est requis.</small>
        </div>
        <div class="field m-4">
            <span class="p-float-label">
                <p-calendar appendTo="body" [yearNavigator]="true" formControlName="dateNaiss" placeholder="Date de naissance" class="form-control {{submitted && controls['nom'].invalid ? 'ng-invalid ng-dirty' : ''}}"></p-calendar> 
                <label for="inputtext"><i class="pi pi-calendar"></i>&nbsp;Date de naissance</label>
            </span>
            <small *ngIf="submitted && controls['dateNaiss'].invalid" id="username-help" class="p-error">Un nom est requis.</small>
        </div>
        <div class="field m-4">
            <span class="p-float-label">
                <input [autocomplete]="true" formControlName="email" placeholder="Adresse electronique" class="form-control {{submitted && controls['email'].invalid ? 'ng-invalid ng-dirty' : ''}}" type="email" pInputText> 
                <label for="inputtext"><i class="pi pi-at"></i>&nbsp;Email</label>
            </span>
            <small *ngIf="submitted && controls['email'].invalid" id="username-help" class="p-error">Une adresse email valide est requise.</small>
        </div>
        <div class="field m-4">
            <span class="p-float-label">
                <input [autocomplete]="true" formControlName="telephone" placeholder="Numéro de téléphone" class="form-control {{submitted && controls['telephone'].invalid ? 'ng-invalid ng-dirty' : ''}}" type="tel" pInputText> 
                <label for="inputtext"><i class="pi pi-phone"></i>&nbsp;Téléphone</label>
            </span>
            <small *ngIf="submitted && controls['telephone'].invalid" id="username-help" class="p-error">Un numéro de téléphone est requis.</small>
        </div>
        <div class="field m-4">
            <span class="p-float-label">
                <input [autocomplete]="true" formControlName="adresse" placeholder="Adresse" class="form-control {{submitted && controls['telephone'].invalid ? 'ng-invalid ng-dirty' : ''}}" type="tel" pInputText> 
                <label for="inputtext"><i class="pi pi-phone"></i>&nbsp;Adresse</label>
            </span>
            <small *ngIf="submitted && controls['telephone'].invalid" id="username-help" class="p-error">Une adresse est requise.</small>
        </div>
        <div class="field m-4">
            <div class="row">
                <div class="col-md-6">
                    <p-radioButton formControlName="sexe" inputId="male" value="M"></p-radioButton>
                    <label for="male">&nbsp;Homme</label>
                </div>
                <div class="col-md-6">
                    <p-radioButton inputId="female" formControlName="sexe" value="F"></p-radioButton>
                    <label for="female">&nbsp;Femme</label>
                </div>
            </div>
        </div>
        <div class="field m-4">
            <p-fileUpload #img [chooseIcon]="'pi pi-image'" [cancelIcon]="''" [accept]="'image/*'"
            (onRemove)="avatar = undefined" chooseLabel="Image" cancelLabel="Annuler" (onSelect)="getImg($event)"
            [showUploadButton]="false" name="image" [multiple]="false"></p-fileUpload>
        </div>
        <div class="field m-4">
            <p-accordion>
                <p-accordionTab [formGroup]="apprenantForm.controls.tuteur" header="Tuteur">
                    <div class="field">
                        <span class="p-float-label">
                            <input [autocomplete]="true" formControlName="pere" placeholder="Père" class="form-control {{submitted && controls['tuteur'].controls['pere'].invalid ? 'ng-invalid ng-dirty' : ''}}" pInputText> 
                            <label for="inputtext"><i class="pi pi-user"></i>&nbsp;Père</label>
                        </span>
                    </div>
                    <div class="field">
                        <span class="p-float-label">
                            <input [autocomplete]="true" formControlName="telephonePere" placeholder="Père" class="form-control {{submitted && controls['tuteur'].controls['telephonePere'].invalid ? 'ng-invalid ng-dirty' : ''}}" pInputText> 
                            <label for="inputtext"><i class="pi pi-user"></i>&nbsp;Numéro téléphone du père</label>
                        </span>
                    </div>
                    <div class="field">
                        <span class="p-float-label">
                            <input [autocomplete]="true" formControlName="mere" placeholder="Mère" class="form-control {{submitted && controls['tuteur'].controls['mere'].invalid ? 'ng-invalid ng-dirty' : ''}}" pInputText> 
                            <label for="inputtext"><i class="pi pi-user"></i>&nbsp;Mère</label>
                        </span>
                    </div>
                    <div class="field">
                        <span class="p-float-label">
                            <input [autocomplete]="true" formControlName="telephoneMere" placeholder="Père" class="form-control {{submitted && controls['tuteur'].controls['telephoneMere'].invalid ? 'ng-invalid ng-dirty' : ''}}" pInputText> 
                            <label for="inputtext"><i class="pi pi-user"></i>&nbsp;Numéro téléphone de la mère</label>
                        </span>
                    </div>
                    <div class="field">
                        <span class="p-float-label">
                            <input [autocomplete]="true" formControlName="adresse" placeholder="Adresse" class="form-control {{submitted && controls['telephone'].invalid ? 'ng-invalid ng-dirty' : ''}}" type="tel" pInputText> 
                            <label for="inputtext"><i class="pi pi-home"></i>&nbsp;Adresse</label>
                        </span>
                    </div>
                </p-accordionTab>
            </p-accordion>
        </div>
        <div class="field m-4">
            <div class="d-flex pt-3">
                <button class="p-button p-button-lg p-button-raised flex-grow-1" label="Créer" pButton></button>
            </div>
        </div>
    </form>
</div>