<div class="row justify-content-between">
    <div class="col-xl-8 px-3">
        <div class="surface-100 row m-0 h-100">
            <div class="col-lg-4 p-3" *ngFor="let student of apprenants">
                <p-card *ngIf="student" class="cursor-pointer" (click)="selected = student; edition = true">
                    <ng-template pTemplate="title"><h5 class="text-center">{{(student.prenom | titlecase)+' '+(student.nom | uppercase)}}</h5></ng-template>
                    <div class="d-flex justify-content-center">
                        <p-avatar *ngIf="student.photo else icon" [image]="student.photo" shape="circle"  size="xlarge"></p-avatar>
                        <ng-template #icon>
                            <p-avatar icon="pi pi-user" shape="circle"  size="xlarge"></p-avatar>
                        </ng-template>
                    </div>
                    <ng-template pTemplate="footer">
                        <i class="pi pi-phone"></i> : {{student.telephone | phone}}<br>
                        <i class="pi pi-at"></i> : {{student.email}}<br>
                    </ng-template>
                </p-card>
            </div>
        </div>
    </div>
    <div class="col-xl-4 px-3">
        <app-new-apprenant *ngIf="!edition else edit"  classe="h-100" [classeId]="classe._id"></app-new-apprenant>
        <ng-template #edit>
            <ng-container *ngIf="selected">
                <app-edit-apprenant [classeId]="classe._id" (status)="selected = undefined; edition = false" [apprenant]="selected"></app-edit-apprenant>
            </ng-container>
        </ng-template>
    </div>
</div>